<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
        <h1>The Quiz Site</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/author">Author</a>
    </nav>
    <section>
        <div>
            <%- body %>
        </div>
    </section>
    <footer>
        <a href="http://en.wikipedia.org/wiki/Quiz">What is a Quiz?</a>
    </footer>
  </body>
</html>