<h1>
    End of Group Play:  <%= group.name %>
</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<p>
    You answered all questions. You are a champion.
</p>

<p>
    <a href="/goback" class="button">Go back</a>
</p>