<div class="wideRow">
    <label for="preg" class="itemNarrow">Question:</label>
    <input type="text" class="itemWide" id="pre" name="question" value="<%= quiz.question %>" placeholder="Question" autocomplete="off"/>
</div>
<br/>
<div class="wideRow">
    <label for="resp" class="itemNarrow">Answer:</label>
    <input type="text" class="itemWide" id="resp" name="answer" value="<%= quiz.answer %>" placeholder="Answer" autocomplete="off"/>
</div>

<br/>

<a href="/goback" class="button">Cancel</a>
<input type="submit" value="Save">