<h1>
End of Random Play:
</h1>

<div>
Successful answers : <span id="score"><%= score %></span>
</div>

<p>
You answered all questions. You are a champion.
</p>

<p>
<a href="/goback" class="button">Go back</a>
</p>
