<script>
    function forcePassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;

        if (!pw1 || !pw2) {
            alert('Password and Confirmation fields must be filled in.');
            return false;
        }
        return true;
    }

    function validPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;

        if (pw1 !== pw2) {alert('Password and Confirmation fields do not match'); return false;}
        if (pw1 && pw1.length < 8) {alert('Password must be at least 8 characters'); return false;}
        if (pw1 && !/\d/.test(pw1)) {alert('Password must contain at least 1 number'); return false;}
        if (pw1 && !/[A-Z]/.test(pw1)) {alert('Password must contain at least 1 uppercase letter.'); return false;}

        return true;
    }
</script>

<ul>
    <li>
        <% if (!user.id) { %>
            <label for="preg" class="rem">User name:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" autocomplete="off"/>
        <% } 
        else { %>
                Username: <%= user.username %>
        <% } %>
    </li>
    <li>
        <% if (!user.id) { %>
            <span class="text-danger">Enter the new password twice</span>
        <% } 
        else { %>
            <span class="text-danger">Leave blank to not change the current password</span>
        <% } %>
        <ul>
            <li>
                <label for="user_password" class="rem">Password:</label>
                <input type="password" id="user_password" name="password" autocomplete="off"/>
            </li>
            <li>
                <label for="user_confirm_password" class="rem">Confirm Password:</label>
                <input type="password" id="user_confirm_password" autocomplete="off"/>
            </li>
        </ul>     
    </li>
</ul>

<div>
    <a href="/goback" class="button">Cancel</a>
</div>